<mat-card fxLayout="column" fxLayoutGap="20px" class="signin-card">
    <div fxLayoutAlign="center center">
        <img src="assets/images/login" width="100px">
    </div>
    <form fxFlex fxLayout="column" fxLayoutGap="20px" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-radio-group formControlName="type" style="padding: 25px;" fxLayout fxLayoutAlign="space-around center">
            <mat-radio-button value="email" class="name-det" [checked]="true">Email</mat-radio-button>
            <mat-radio-button value="mobile" class="name-det">Mobile</mat-radio-button>
        </mat-radio-group>
        <!--Email Id & Mobile Number-->
        <div fxLayout="column" fxLayoutGap="5px">
            <!--Email-->
            <mat-form-field appearance="outline" *ngIf="!isMobileLogin">
                <mat-label>Email Id </mat-label>
                <input matInput placeholder="Email Id " formControlName="userId">
                <mat-icon matSuffix>{{loginTypeIcon}}</mat-icon>
                <mat-error *ngIf="loginForm.get('emailId')?.errors?.required">
                    Please enter your emailId
                </mat-error>
            </mat-form-field>
            <!--Mobile-->
            <mat-form-field appearance="outline" *ngIf="isMobileLogin">
                <mat-label>Mobile number</mat-label>
                <input matInput placeholder="Mobile number " formControlName="userId">
                <mat-icon matSuffix>{{loginTypeIcon}}</mat-icon>
                <mat-error *ngIf="loginForm.get('emailId')?.errors?.required">
                    Please enter your mobile number
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="password" formControlName="password">
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                    {{hidePassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-error *ngIf="loginForm.get('mobileNumber')?.errors?.required">
                    Please enter your password
                </mat-error>
            </mat-form-field>
        </div>
        <!--Login btn-->
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid">Login
                Now</button>
            <div fxLayout="row" fxLayoutGap="5px">
                <span>Don't have an account?</span>
                <a style="cursor: pointer;" [routerLink]="['/auth/signup']">SignUp</a>
            </div>
        </div>
    </form>

</mat-card>