<mat-toolbar color="primary">
    <header class="app-container" fxFlex fxLayoutAlign="space-between">
        <!-- <mat-icon fxHide fxShow.xs (click)="sidenav.toggleSidenav()">menu</mat-icon> -->

        <span class="header-items" [routerLink]="['/']">
            <img src="assets/images/israt-logo.jpg" width="80px">    
        </span>

        <!-- SignIn or Profile details  -->
        <div fxLayoutGap="10px">
            <ng-container *ngIf="isUserLoggedIn; then loggedIn; else loggedOut"></ng-container>
            <ng-template #loggedOut>
                <a class="header-items header-link" [routerLink]="['/auth/login']">Sign In</a>
            </ng-template>
            <ng-template #loggedIn>
                <div class="k-dropdown" fxLayoutAlign="center">
                    <a class="header-items header-link" [matTooltip]="loggedInUserName" routerLink="/account/profile">
                        <span> {{ loggedInUserName }}</span>
                    </a>
                    <i class="fa fa-angle-down ml-3 mt-3"></i>
                    <div class="k-dropdown-container">
                        <a class="header-items header-link" (click)="logout()">
                            Logout</a>
                    </div>
                </div>
            </ng-template>
        </div>
        <!-- / SignIn or Profile details  -->
    </header>
</mat-toolbar>