<nav class="navbar navbar-expand-md navbar-dark bg-dark  ">


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link">All categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/shopping-cart">Shopping cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/auth/login'>Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/auth/signup'>Sign up</a>
            </li>
            <li class="dropdown">
                <button type="button" class="btn dropdown-toggle nav-link" data-toggle="dropdown">
                Dropdown button
              </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/order-success">My Orders</a>
                    <a class="dropdown-item" routerLink="/admin/order">Manage Orders</a>
                    <a class="dropdown-item" routerLink="/admin/product">Manage Product</a>
                    <a class="dropdown-item" routerLink="/">Log Out</a>

                </div>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link">All categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/authors">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/best-selling'>Best selling</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/weekly-sale'>weekly sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/latest-news'>Latest news</a>
            </li> -->
        </ul>
    </div>
</nav>