<mat-card class="product-card" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <div class="tag">
            <div class="pre-order">
                <!-- <ng-container *ngFor="let p of product.listOfLevel2Cards">
                    <span>{{p?.description | json}}</span>
                </ng-container> -->

                <span>{{product.value}}</span>
            </div>
        </div>

        <mat-icon class="more-icon ">more_horiz</mat-icon>
    </div>
    <div class="mt-5" fxFlex fxLayoutAlign="center center">
        <img [src]="image || 'assets/images/mango.png'" width="150">
        <!-- <img src="assets/images/mango.png" width="250"> -->
    </div>
    <div class="mt-5" fxLayout="column" fxLayoutGap="10px">
        <h1 class="product-name">{{name}}</h1>
        <span class="seller_name">From: {{seller}}</span>

        <!-- <span class="description">{{description | summary}}</span> -->
        <span>{{sellerLocation}}</span>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="price" fxLayout="row" fxLayoutAlign="center center">
            <span class="ml-1 mr-1">
              {{mrp | currency: "INR" }} </span>
            <span class="mr-1">/kg</span>
            <!-- <span class="mr-1">{{id}}</span> -->
        </div>
        <div (click)="openDialog()" class="buy-button" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
            <mat-icon class="shopping-icon">shopping_basket</mat-icon>
            <a class="buy">BUY</a>
        </div>
    </div>
</mat-card>