<a style="cursor: pointer; text-decoration: none;">
    <mat-card class="product-card" fxLayout="column" fxLayoutGap="5px">
        <div *ngIf="false" fxFlex fxLayout="row" fxLayoutAlign="space-between">
            <div class="tag">
                <div class="pre-order">
                    <ng-container>
                        <span>{{subCategories}}</span>
                    </ng-container>


                </div>
            </div>

            <mat-icon class="more-icon ">more_horiz</mat-icon>
        </div>
        <div fxFlex fxLayoutAlign="center center">
            <img [src]="image || 'assets/images/mango.png'" width="150">
        </div>
        <div class="mt-5" fxLayout="column" fxLayoutGap="10px">
            <h1 class="product-name">{{name}}</h1>
            <span class="seller_name">From: {{seller}}</span>

            <span>{{sellerLocation}}</span>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="price" fxLayout="row" fxLayoutAlign="center center">
                <span class="ml-1 mr-1">
                  {{mrp | currency: "INR" }} </span>
                <span class="mr-1">/kg</span>
            </div>
            <div (click)="openDialog()" class="buy-button" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                <mat-icon class="shopping-icon">shopping_basket</mat-icon>
                <a class="buy">BUY</a>
            </div>
        </div>
    </mat-card>
</a>