<!-- [routerLink]="productPath" -->
<a style="cursor: pointer; text-decoration: none" *ngIf="false">
  <mat-card class="product-card" fxLayout="column" fxLayoutGap="5px">
    <div *ngIf="false" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div class="tag">
        <div class="pre-order">
          <ng-container>
            <span>{{ product?.subCategories }}</span>
          </ng-container>
        </div>
      </div>

      <mat-icon class="more-icon">more_horiz</mat-icon>
    </div>
    <div fxFlex fxLayoutAlign="center center">
      <img
        [src]="product?.productPicURL_level3 || 'assets/images/mango.png'"
        width="150"
      />
    </div>
    <div class="mt-5" fxLayout="column" fxLayoutGap="10px">
      <h1 class="product-name">{{ product?.productName_level2 }}</h1>
      <span class="seller_name">From: {{ product?.sellerName }}</span>

      <span>{{ product?.sellerLocation }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="price" fxLayout="row" fxLayoutAlign="center center">
        <span class="ml-1 mr-1"> {{ product?.mrp | currency: "INR" }} </span>
        <span class="mr-1">/kg</span>
      </div>
      <div
        (click)="$event.stopPropagation(); addToCart(product)"
        class="buy-button"
        fxLayout="row"
        fxLayoutGap="5px"
        fxLayoutAlign="center center"
      >
        <mat-icon class="shopping-icon">shopping_basket</mat-icon>
        <a class="buy">BUY</a>
      </div>
    </div>
  </mat-card>
</a>
<div class="product-card">
  <div class="badge">Hot</div>
  <div class="product-tumb">
    <img [src]="product?.productPicURL_level3" alt="">
  </div>
  <div class="product-details">
    <span class="product-catagory" *ngIf="product?.subCategories">{{ product?.subCategories }}</span>
    <h4>{{ product?.productName_level2 }}</h4>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p> -->
    <div class="product-bottom-details">
      <div class="product-price">
        <small *ngIf="(product?.mrp > product?.pricePerSKU)">{{product?.mrp | currency: "INR"}}</small>
        <span>{{ product?.pricePerSKU | currency: "INR" }}</span> 
      </div>
      <div class="product-links">
        <i class="fa fa-heart cursor"></i>
        <div 
          class="cursor"
          (click)="$event.stopPropagation(); addToCart(product)">
          <i class="fa fa-shopping-cart"></i>

        </div>
      </div>
    </div>
  </div>
</div>