<div [formGroup]="productForm" class="product-form" fxLayout class="mt-5">
    <mat-card class="product-form-card">
        <div fxLayout="column" fxLayoutGap="15px">
            <h4 class="product-card-heading">Add Product</h4>
            <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
                <!--Title & Price-->
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
                    <mat-form-field appearance="outline" fxFlex="250px">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="provide title" name="title" formControlName="title" />
                        <!-- <mat-error *ngIf="title.hasError('required')">
                            Title is required
                        </mat-error> -->
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="250px">
                        <mat-label>Price</mat-label>
                        <input matInput placeholder="provide price" name="price" formControlName="price" />
                        <!-- <mat-error *ngIf="priceformControlName.hasError('required')">
                            Price is required
                        </mat-error> -->
                    </mat-form-field>
                </div>

                <!--category & imgURL -->
                <div fxFlex fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field appearance="outline" fxFlex="250px">
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="category" formControlName="category">
                            <mat-option *ngFor="let category of categories" [value]="category.value">
                                {{ category.viewValue }}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="categoryformControlName.hasError('required')">
                            Category is required
                        </mat-error> -->
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="250px">
                        <mat-label>ImageURL</mat-label>
                        <input matInput placeholder="provide ImgURL" name="imageURL" formControl="imageURL" />
                        <!-- <mat-error *ngIf="imageUrlFormControl.hasError('required')">
                            ImageURL is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </form>
            <!--save-->
            <div fxFlex fxLayoutAlign="center center">
                <button mat-raised-button>Save</button>
            </div>
        </div>
    </mat-card>
</div>
