<div class="product-form" fxLayout class="mt-5">
    <mat-card class="product-form-card">
        <div fxLayout="column" fxLayoutGap="15px">
          <h4>Add Product</h4>
            <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
                <!--Title & Price-->
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
                    <div fxFlex="50">
                        <mat-form-field appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="provide title" name="title" [formControl]="titleFormControl">
                            <mat-error *ngIf="titleFormControl.hasError('required')">
                                Title is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50">
                        <mat-form-field appearance="outline">
                            <mat-label>Price</mat-label>
                            <input matInput placeholder="provide price" name="price" [formControl]="priceFormControl">
                            <mat-error *ngIf="priceFormControl.hasError('required')">
                                Price is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!--category & imgURL -->
                <div fxFlex fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field appearance="outline">
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="category" [formControl]="categoryFormControl">
                            <mat-option *ngFor="let category of categories" [value]="category.value">
                                {{category.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="categoryFormControl.hasError('required')">
                            Category is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>ImageURL</mat-label>
                        <input matInput placeholder="provide ImgURL" name="imageURL" [formControl]="imageUrlFormControl">
                        <mat-error *ngIf="categoryFormControl.hasError('required')">
                            ImageURL is required
                        </mat-error>
                    </mat-form-field>
                </div>


            </form>
             <!--save-->
             <div fxFlex fxLayoutAlign="center center">
              <button mat-raised-button color="warn">Warn</button>
          </div>
        </div>
    </mat-card>

</div>
