.sec-ht {
    background: #eee;
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 599px) {
        min-height: 0;
    }
}

.centered-div {
    width: 50%;
    height: 390px;
    margin: 10px;
    padding: 5px;
    background: white;
}

.btn {
    border: 15%;
}

.active-link {
    background-color: red;
    color: black;
}