<!-- <div class="container mt-5">
    <ngb-carousel #carousel [interval]="2000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let img of images; index as i">
            <div class="carousel-caption">
                <h3>My slide {{i + 1}} title</h3>
            </div>
            <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                <div class="picsum-img-wrapper">
                    <img [src]="img" alt="My image {{i + 1}} description">
                </div>
            </a>
        </ng-template>
    </ngb-carousel>
</div>
<div class="pt-5"><button type="button" (click)="onClick()" [style.backgroundColor]="isTrue ? 'blue' : 'gray'">Info</button>
</div> -->

<!-- <div class="container mt-2">
    <div class="content" fxLayout="row" fxLayout.xs="column">
        <div fxFlex class="first-book mt-0" fxLayoutAlign="center" fxLayout="row" fxLayoutGap="30px">
            <div class="img-bck"><img src="assets/download.jpg"></div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <h6>Attack of the planet</h6>
                <span>by Andree jorden</span>
                <div fxLayout="row">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <button type="button" class="btn btn-info">Info</button>
            </div>
        </div>
    </div> -->