.content {
    height: 300px;
}

.first-book {
    background-color: #ffcccc;
}

.checked {
    color: orange;
}

.second-book {
    background-color: #ff33ff;
}


/* .connectx-background[_ngcontent-tqq-c253] .connectx-event[_ngcontent-tqq-c253] {
      position: relative;
      z-index: 77;
      padding: 15px;
      background-color: #fff;
      box-shadow: 0 0 10pc rgba(0,0,0,.5);
  } */

.first-book .img-bck {
    margin-top: 30px;
    position: absolute;
    z-index: 77;
    padding: 15px;
    background-color: whitesmoke;
    right: 60%;
    /* left: 50%; */
    /* top: inherit; */
    /* box-shadow: 0 0 10pc rgba(0, 0, 0, .5); */
}
